.topBar {
    width: 100%;
    overflow: hidden;
    background-color: rgba(255,172,117,1);
    color: black;
    padding: 5px;
    position: fixed;
    z-index: 99;
    bottom: 95vh;
  }
  
  .scrollText {
    margin-top: 5px;
    display: inline-block;
    white-space: nowrap;
    padding-left: 100%;
    animation: scrollLeft 20s linear infinite;
 

  }
  
  @keyframes scrollLeft {
    from {
      transform: translateX(70%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  